<html>
 <head>
 <h2></h2>
 </head>
 <body>
 <u><h2>CALCIUM PHOSPHATE Research Paper</h2></u>
 <h3>1.DNA transfection: calcium phosphate method.
  Kwon M, Firestein BL.</h3>
 <button><a href ="https://pubmed.ncbi.nlm.nih.gov/23681621/">View</a></button>
 <h3>2.Calcium Phosphate-Based Nanomaterials: Preparation, Multifunction, and Application for Bone Tissue Engineering.
  Chen X, Li H, Ma Y, Jiang Y.</h3>
 <button><a href ="https://pubmed.ncbi.nlm.nih.gov/37375345/">View</a></button>
 <h3>3.Calcium phosphate microcrystallopathy as a paradigm of chronic kidney disease progression.
  Kuro-O M.</h3>
 <button><a href ="https://pubmed.ncbi.nlm.nih.gov/37074676/">View</a></button>
 <h3>4.Lipid-coated calcium phosphate nanoparticle and beyond: a versatile platform for drug delivery.
  Huang JL, Chen HZ, Gao XL.</h3>
 <button><a href ="https://pubmed.ncbi.nlm.nih.gov/29258343/">View</a></button>
 <h3>5.Review of potential health risks associated with nanoscopic calcium phosphate.
  Epple M.</h3>
 <button><a href ="https://pubmed.ncbi.nlm.nih.gov/30031162/">View</a></button>
 <h3>6.Calcium phosphate, bile acids and colorectal cancer.
  Van der Meer R, Kleibeuker JH, Lapré JA.</h3>
 <button><a href ="https://pubmed.ncbi.nlm.nih.gov/1842734/">View</a></button>
 <h3>7.Transfection of Mammalian Cells with Calcium Phosphate-DNA Coprecipitates.
  Kumar P, Nagarajan A, Uchil PD.</h3>
  <button><a href ="https://pubmed.ncbi.nlm.nih.gov/31575800/">View</a></button>
 <h3>8.Calcium phosphate-based coatings on titanium and its alloys.
  Narayanan R, Seshadri SK, Kwon TY, Kim KH.</h3>
  <button><a href ="https://pubmed.ncbi.nlm.nih.gov/17853421/">View</a></button>
 <h3>9.Evaluation and Management of Subchondral Calcium Phosphate Injection Technique to Treat Bone Marrow Lesion.
  Astur DC, de Freitas EV, Cabral PB, Morais CC, Pavei BS, Kaleka CC, Debieux P, Cohen M.</h3>
  <button><a href ="https://pubmed.ncbi.nlm.nih.gov/29667853/">View</a></button>
 <h3>10.Review of casein phosphopeptides-amorphous calcium phosphate.
  Reema SD, Lahiri PK, Roy SS.</h3>
  <button><a href ="https://pubmed.ncbi.nlm.nih.gov/25028684/">View</a></button>
 <h3>1.</h3>
 <a href ="">View</a>
 <h3>1.</h3>
 <a href ="">View</a>
 <h3>1.</h3>
 <a href ="">View</a>
 <h3>1.</h3>
 <a href ="">View</a>
 <h3>1.</h3>
 <a href ="">View</a>
 <h3>1.</h3>
 <a href ="">View</a>
 <h3>1.</h3>
 <a href ="">View</a>
 <h3>1.</h3>
 <a href ="">View</a>
 <h3>1.</h3>
 <a href ="">View</a>
 <h3>1.</h3>
 <a href ="">View</a>
 
 
 </body>
</html>