<html>
<head>
</head>
<body>
<h3>1.Nano-hydroxyapatite as a delivery system: overview and advancements.
Munir MU, Salman S, Javed I, Bukhari SNA, Ahmad N, Shad NA, Aziz F.</h3>
<a href ="https://pubmed.ncbi.nlm.nih.gov/34907839/">view atricle</a>

<h3>2.Hydroxyapatite Chromatography (HAC).
Cawley J.</h3>
<a href ="https://pubmed.ncbi.nlm.nih.gov/37646999/">atricle</a>"

<h3>3.Hydroxyapatite-alginate Based Matrices for Drug Delivery.
Nayak AK, Hasnain MS, Nanda SS, Yi DK.</h3>
<a href ="https://pubmed.ncbi.nlm.nih.gov/31490744/"artcile>view article</a>

<h3>4.Permanently polarized hydroxyapatite, an outstanding catalytic material for carbon and nitrogen fixation.
Sans J, Arnau M, Turon P, Alemán C.</h3>
https://pubmed.ncbi.nlm.nih.gov/35357375/

<h3>5.Immunomodulatory Properties: The Accelerant of Hydroxyapatite-Based Materials for Bone Regeneration.
Shang L, Shao J, Ge S.</h3>
https://pubmed.ncbi.nlm.nih.gov/35196904/

<h3>6.Hydroxyapatite-polymer biocomposites for bone regeneration: A review of current trends.
Ramesh N, Moratti SC, Dias GJ.</h3>
<a href=" https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/34807889/">view article</a></button>

<h3>7.Hydroxyapatite-titanium bulk composites for bone tissue engineering applications.
Kumar A, Biswas K, Basu B.</h3>
https://pubmed.ncbi.nlm.nih.gov/24737723/

<h3>8.Hydroxyapatite-titanium bulk composites for bone tissue engineering applications.
Kumar A, Biswas K, Basu B.</h3>
https://pubmed.ncbi.nlm.nih.gov/24737723/

<h3>9.Synthesis, Characterization, Functionalization and Bio-Applications of Hydroxyapatite Nanomaterials: An Overview.
Munir MU, Salman S, Ihsan A, Elsaman T.</h3>
https://pubmed.ncbi.nlm.nih.gov/35530974/

<h3>10.Occlusion effects of bioactive glass and hydroxyapatite on dentinal tubules: a systematic review.
Behzadi S, Mohammadi Y, Rezaei-Soufi L, Farmany A</h3>
https://pubmed.ncbi.nlm.nih.gov/35871701/

<h3>11.Hydroxyapatite and tricalcium phosphate composites with bioactive glass as second phase: State of the art and current applications.
Bellucci D, Sola A, Cannillo V.</h3>
https://pubmed.ncbi.nlm.nih.gov/26646669/

<h3></h3>
</body>
</html>



